.nav-logo {
  grid-area: logo;

display: flex;
justify-content: center;  
align-items: center;
  
  i {
    width: 6rem;
    color: whitesmoke;
    text-shadow: 2px 2px grey;
    font-size: 90px;
    transition: all 0.5s ease;

  }
  i:hover {
    color: gray;
  }
}
