.channel-empty__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
  }
  
  .channel-empty__avatars {
    display: flex;
  }
  
  .channel-empty__avatars div:first-child {
    z-index: 3;
  }
  
  .channel-empty__avatars div:nth-child(2) {
    position: relative;
    right: 32px;
    z-index: 2;
  }
  
  .channel-empty__avatars div:nth-child(3) {
    position: relative;
    right: 64px;
    z-index: 1;
  }
  
  .channel-empty__avatars .str-chat__avatar {
    margin-right: 0;
  }
  
  .channel-empty__first {
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #2c2c30;
    margin-bottom: 10px;
  }
  
  .channel-empty__first .channel-empty__user-name {
    color: var(--primary-color);
  }
  
  .channel-empty__second {
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 120%;
    margin: 0;
    color: #858688;
  }
  
  .channel__container {
    height: 100%;
    width: 100%;
  }
  

  
  
  .channel-list__container {
    display: flex;
    /* height: 800px; */
    height: 100%;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
  }
  
  .channel-list__sidebar {
    width: 72px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      var(--primary-color);
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);
    /* border-top-left-radius: 16px; */
    /* border-bottom-left-radius: 16px; */
  }
  
  .channel-list__sidebar__icon1 {
    width: 44px;
    height: 44px;
    margin: 14px;
    background: linear-gradient(
        150.64deg,
        rgba(0, 0, 0, 0.1) 12.73%,
        rgba(0, 0, 0, 0) 89.32%
      ),
      #ffffff;
    border-radius: 9999px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
  }
  
  .channel-list__list__wrapper {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    width: 240px;
  }
  
  .icon1__inner {
    font-family: Helvetica Neue, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .channel-list__sidebar__icon2 {
    width: 44px;
    height: 44px;
    margin: 14px;
    background: linear-gradient(
        150.64deg,
        rgba(0, 0, 0, 0.1) 12.73%,
        rgba(0, 0, 0, 0) 89.32%
      ),
      #ffffff;
    border-radius: 9999px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
    cursor: pointer;
  }
  
  .icon2__inner {
    font-family: Helvetica Neue, sans-serif;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .channel-list__header {
    padding-left: 16px;
    height: 62px;
  }
  
  .channel-list__header__text {
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
  }
  
  .channel-search__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    border-top: 1px solid #00000033;
  }
  
  .channel-search__input__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin-bottom: 8px;
    border: 1px solid transparent;
    width: 95%;
  }
  
  .channel-search__input__wrapper:focus-within {
    border: 1px solid #fff;
  }
  
  .channel-search__input__icon {
    width: 32px;
    display: flex;
    justify-content: center;
  }
  
  .channel-search__input__text {
    background: none;
    border: none;
    color: #fff;
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    outline: none;
  }
  
  ::placeholder {
    color: rgba(255, 255, 255, 0.66);
    white-space: nowrap;
    width: 150px;
  }
  
  .channel-search__results {
    position: absolute;
    height: fit-content;
    width: 300px;
    background: #fff;
    border: 1px solid #e9e9ea;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    z-index: 10;
    left: 230px;
    top: 16px;
  }
  
  .channel-search__results-header {
    width: fit-content;
    display: flex;
    align-items: center;
    font-family: Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #858688;
    margin-left: 12px;
  }
  
  .channel-search__results-header i {
    font-weight: normal;
    margin-left: 12px;
  }
  
  .channel-search__result-container {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
  }
  
  .channel-search__result-container__focused {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    background: var(--primary-color-alpha);
  }
  
  .channel-search__result-container:hover {
    background: var(--primary-color-alpha);
    cursor: pointer;
  }
  
  .channel-search__result-user {
    display: flex;
    align-items: center;
    margin-left: 12px;
  }
  
  .result-hashtag {
    height: 24px;
    width: 28px;
    background: var(--primary-color);
    border-radius: 24px;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Helvetica Neue, sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #ffffff;
  }
  
  .channel-search__result-text {
    width: 100%;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
    color: #2c2c30;
  }

  
  .channel-name-input__wrapper {
    display: flex;
    flex-direction: column;
    height: 169px;
    padding-left: 20px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .channel-name-input__wrapper p {
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #2c2c30;
    margin-top: 30px;
  }
  
  .channel-name-input__wrapper input {
    font-family: Helvetica Neue, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.5);
    height: 50px;
    width: 540px;
    background: #f7f6f8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
  }
  
  .channel-name-input__wrapper input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
  }
  
  .channel-name-input__wrapper input::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
  }
  
  .channel-name-input__wrapper {
    display: flex;
    flex-direction: column;
    height: 169px;
    padding-left: 20px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .channel-name-input__wrapper p {
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    line-height: 120%;
    color: #2c2c30;
    margin-top: 30px;
  }
  
  .channel-name-input__wrapper input {
    font-family: Helvetica Neue, sans-serif;
    font-size: 18px;
    color: rgba(0, 0, 0);
    height: 50px;
    width: 90%;
    background: #f7f6f8;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 8px;
    padding-left: 16px;
  }
  
  .channel-name-input__wrapper input:focus {
    border: 1px solid var(--primary-color);
    outline: none;
  }
  
  .channel-name-input__wrapper input::placeholder {
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
  }

  .channel-preview__wrapper {
    height: 37px;
    display: flex;
    align-items: center;
  }
  
  .channel-preview__wrapper__selected {
    height: auto;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    margin-right: 16px;
    cursor: pointer;
    z-index: 2;
  }
  
  .channel-preview__wrapper:hover {
    background: rgba(0, 0, 0, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: bold;
    margin-right: 16px;
    cursor: pointer;
  }
  
  .channel-preview__item {
    display: flex;
    align-items: center;
    font-family: Helvetica Neue, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 0px 20px;
    height: 100%;
    width: 100%;
    text-overflow: ellipsis;
    word-break: break-all;
  }
  
  .channel-preview__item.multi {
    max-width: 220px;
  }
  
  .channel-preview__item.single .str-chat__avatar {
    margin-right: 12px;
  }
  
  .channel-preview__item.multi .str-chat__avatar {
    margin-right: 0;
  }
  
  .channel-preview__item.multi span:first-child {
    position: relative;
    z-index: 2;
    bottom: 6px;
  }
  
  .channel-preview__item.multi div:nth-child(2) {
    position: relative;
    right: 10px;
    z-index: 1;
    margin-bottom: 0px;
  }
  
  .channel-preview__item.multi p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .channerl-list__container-toggle {
    display: none;
    height: 50px;
    width: 50px;
    background: #005fff;
    position: absolute;
    right: -2%;
    top: 50%;
    border-radius: 50%;
    z-index: 2;
  }
  
  .channel-list__container-responsive {
    display: none;
    height: 100%;
    box-shadow: inset 1px 0px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    width: 90%;
    top: 0%;
    z-index: 5;
    transition: 0.8s ease;
  }
 