.App {
	// text-align: center;

	.App-header {
		background-color: #282c34;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: calc(10px + 2vmin);
		color: white;
	}
	form {
		width: 600px;
		fieldset {
			border: 5px solid #ccc;
			border-radius: 5px;
			padding: 20px;

			.row {
				display: flex;
				align-content: start;
				padding: 5px;
				label {
					&:after {
						content: ":";
					}
					width: 90px;
					margin: 0 0 10px 0;
				}
				input {
					font-size: 1rem;
					width: 300px;
				}
			}
			.invalid input {
				color: red;
			}
			.note {
				font-size: 1rem;
				margin: 0 0 20px 97px;
			}
			.buttonRow {
				display: flex;
				justify-content: right;
				button {
					font-size: 1rem;
					padding: 5px;
				}
			}
		}
	}
	pre {
		font-family: 'Courier New', Courier, monospace;
		color: brown;
		margin: 10px 0 0 0;
		background-color: #eee;
		padding: 10px;
		font-size: 1.2rem;
		width: 580px;
	}
}