* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  // background-color: rgb(29, 26, 26);

  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "nav container";

  nav a.active {
    // background-color: rgb(214, 36, 36);
    color: rgb(214, 36, 36);
  }
  .main ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .main ul li {
    margin-right: 1rem;
  }
  
  .dashboard {
    padding: 1rem 0;
  }
  /* ... */
ul.orders {
  flex-direction: column;
  border: 1px solid;
  padding: 0.5rem;
}
.orders li {
  padding: 0.5rem 0;
}
ul.invoices {
  flex-direction: column;
  border: 1px solid;
  padding: 0.5rem;
}
.invoices li {
  padding: 0.5rem 0;
}

}
