.App{
    :root {
        --primary-color: #005fff;
        --primary-color-alpha: #005fff1a;
      }
      
      html,
      body {
        margin: 0;
        padding: 0;
        height: 100%;
      }
      
      #root {
        height: 100%;
      }

      .emoji-mart .emoji-mart-emoji:focus {
        outline: none;
      }
      
      div.rfu-dropzone:focus {
        outline: none;
      }
      
      .rfu-image-previewer {
        flex: none;
        margin-left: 12px;
      }
      
      .rfu-image-previewer__image {
        margin-bottom: 0;
      }
      
      div.rta__autocomplete.str-chat__emojisearch {
        z-index: 10;
        position: relative;
        width: 100%;
        background: #fff;
        margin: 0;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
      
      .rta__entity--selected {
        background: var(--primary-color);
      }
      
      .emoji-mart .emoji-mart-emoji:focus {
        outline: none;
      }
      
      @media screen and (max-width: 960px) {
        .channel-list__container {
          display: none;
        }
      
        .team-channerl-header_menu-icon {
          display: flex;
        }
      
        .team-channel-header__container {
          height: 70px;
        }
      
        .team-channel-header__name-wrapper {
          height: 100%;
          max-width: unset;
        }
      
        .team-channel-header__name-multi {
          margin-right: 8px;
          align-items: center;
          flex-direction: column;
        }
      
        .team-channel-header__name.user {
          font-size: 10px;
          margin: 5px;
          text-align: center;
        }
      
        .team-channel-header__right {
          display: flex;
          padding-left: 10px;
        }
      
        .channel-list__container-responsive {
          display: flex;
        }
      
        .channel-list__list__wrapper {
          width: 100%;
        }
      
        .channerl-list__container-toggle {
          display: flex;
        }
      
        .channel-search__input__wrapper {
          width: 90%;
          padding-left: 10px;
          justify-content: flex-start;
        }
      
        .channel-search__input__text {
          width: inherit;
        }
      
        .channel-preview__item.multi {
          width: 80%;
        }
      
        .channel-search__results {
          top: 100%;
          left: 5%;
        }
      }
      
      @media screen and (max-width: 650px) {
        .channerl-list__container-toggle {
          right: -3%;
        }
      }
      
      @media screen and (max-width: 400px) {
        .channel-preview__item.multi {
          width: 150px;
        }
      
        .channerl-list__container-toggle {
          right: -5%;
        }
      }
      
      @media screen and (max-width: 320px) {
        .channel-list__sidebar {
          display: none;
        }
      }
      
    
}